.calculator{
    &__age{
        display: flex;
        flex-direction: column;
        &__item{
            display: flex;
            gap: .5rem;
            align-items:end;
            line-height: 3rem;
            &--num{
                color: hsl(259, 100%, 65%);
                font-size: 3.5rem;
                font-family: poppinsXtraItalic;
            }
            &--label{
                color: hsl(0, 0%, 8%);
                font-size: 3rem;
                font-family: poppinsXtraItalic;
            }
        }
    }
}