.calculator{
    width: 90%;
    background: hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    padding: 2rem 1.5rem;
    border-radius: 2rem 2rem 5rem 2rem;
    height: 63%;
    gap: 1rem;
    position: absolute;
    top: 5rem;
}