@font-face {
    font-family: poppins;
    src: url('./../../public/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: poppinsBold;
    src: url('./../../public/fonts/Poppins-Bold.ttf');
}
@font-face {
    font-family: poppinsBoldItalic;
    src: url('./../../public/fonts/Poppins-BoldItalic.ttf');
}

@font-face {
    font-family: poppinsItalic;
    src: url('./../../public/fonts/Poppins-Italic.ttf');
}

@font-face {
    font-family: poppinsXtra;
    src: url('./../../public/fonts/Poppins-ExtraBold.ttf');
}
@font-face {
    font-family: poppinsXtraItalic;
    src: url('./../../public/fonts/Poppins-ExtraBoldItalic.ttf');
}

p{
    font-family: poppins;
    font-size: 9px;
}